@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.formulario {
  display: flex;
  margin-top: 0px;
  margin-left: 150px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
  border-radius: 5px;
  background: var(--color-white, #fafafa);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.gridContainer > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  background: var(--color-white, #fafafa);
  margin-left: 0%;
}

label {
  color: var(--color-black, #53575d);
  font-family: Poppins;
  font-size: 18px;
}

select {
  color: #53575d;
  font-family: Poppins;
  font-size: 18px;
  width: 290px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--Black-0, #53575d);
  background: var(--White--1, #fbfcff);
}

input {
  color: #53575d;
  font-family: Poppins;
  font-size: 18px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--Black-0, #53575d);
  background: var(--White--1, #fbfcff);
}

.botao button {
  display: flex;
  justify-content: center;
  width: 150px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  padding: 10px 10px;
  align-items: center;
  gap: 24px;
  border-radius: 10px;
  background: #4c5df1;
}

.unidade {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.unidade label {
  text-align: left;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
}
